<!--<ul>-->
<!--  <li><a [routerLink]="['user']"><button>Users</button></a></li>-->
<!--  <li><a><button>Comments</button></a></li>-->
<!--  <li><a><button>Posts</button></a></li>-->
<!--  <a [routerLink]="['']">HOME</a>-->
<!--  <a [routerLink]="['user']">USERS</a>-->
<!--  <a [routerLink]="['posts']">POSTS</a>-->
<!--  <a [routerLink]="['comments']">COMMENTS</a>-->
<!--</ul>-->
<div class="menu">
<!--  <a [routerLink]="['']">HOME</a>-->
  <a [routerLink]="['users']">USERS</a>
  <a [routerLink]="['posts']">POSTS</a>
  <a [routerLink]="['comments']">COMMENTS</a>
</div>

